Repository gradsflow/gradsflow, pull requests merged in 2021-08, with the labels that each got.

#1 Add AutoImageClassifier
  .github/labeler.yml
  .github/workflows/main.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/CNAME
  docs/index.md
  examples/__init__.py
  examples/autoclassifier.py
  gradsflow/__init__.py
  gradsflow/autoclassifier/__init__.py
  gradsflow/autoclassifier/image.py
  gradsflow/automodel/__init__.py
  gradsflow/automodel/automodel.py
  gradsflow/logging.py
  gradsflow/utility/__init__.py
  gradsflow/utility/common.py
  pyproject.toml
  sonar-project.properties
  tests/__init__.py
  tests/autoclassifier/__init__.py
  tests/autoclassifier/test_image.py
  tests/automodel/__init__.py
  tests/automodel/test_automodel.py
  tests/utility/test_common.py
Labels: documentation, test

#2 update documentation
  Makefile
  README.md
  docs/CNAME
  docs/index.md
  docs/overrides/main.html
  pyproject.toml
Labels: documentation

#3 🤖 automodel refactor
  README.md
  examples/nbs/playground.ipynb
  examples/src/__init__.py
  examples/src/autoclassifier.py
  gradsflow/autoclassifier/image.py
  gradsflow/automodel/automodel.py
  mkdocs.yml
  tests/automodel/test_automodel.py
Labels: enhancement, test, example

#4 docs/update
  README.md
  docs/index.md
  gradsflow/__init__.py
  mkdocs.yml
Labels: documentation

#7 auto docstring
  .deepsource.toml
  .github/workflows/main.yml
  Makefile
  docs/gradsflow/autoclassifier.md
  docs/gradsflow/automodel.md
  docs/requirements.txt
  gradsflow/autoclassifier/base.py
  gradsflow/automodel/automodel.py
  mkdocs.yml
  pyproject.toml
  tests/__init__.py
  tests/__main__.py
  tests/autoclassifier/test_base.py
  tests/autoclassifier/test_image.py
  tests/autoclassifier/test_text.py
Labels: documentation, test

#8 fix docs ci
  README.md
  docs/index.md
  docs/requirements.txt
  gradsflow/__init__.py
  gradsflow/automodel/automodel.py
  mkdocs.yml
  tests/automodel/test_automodel.py
Labels: documentation, test

#10 Refactor
  .github/workflows/changelog.yml
  .github/workflows/latest-changes.yml
  .github/workflows/welcome.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/index.md
  gradsflow/__init__.py
  gradsflow/automodel/automodel.py
  gradsflow/utility/common.py
  pyproject.toml
  tests/utility/test_common.py
Labels: documentation, test

#13 📚 update documentation - added citation, acknowledgments, docstrings automation
  .github/workflows/latest-changes.yml
  .github/workflows/release-notes.jinja2
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/gradsflow/utility.md
  docs/index.md
  mkdocs.yml
Labels: documentation

#15 add codecov CI
  .github/workflows/main.yml
  README.md
  docs/index.md
Labels: documentation

#14 Adding text summarisation
  README.md
  docs/gradsflow/autoclassifier.md
  gradsflow/autoclassifier/__init__.py
  gradsflow/autoclassifier/summarization.py
  tests/autoclassifier/test_sum.py
Labels: documentation, enhancement, test

#19 Adding example notebook for AutoSummarization
  examples/nbs/03_TextSummarization.ipynb
Labels: example

#18 release/0.0.1
  .github/workflows/latest-changes.yml
  .github/workflows/main.yml
  .github/workflows/release-notes.jinja2
  docs/CHANGELOG.md
  docs/gradsflow/autoclassifier.md
  docs/gradsflow/automodel.md
  docs/gradsflow/autotasks.md
  docs/gradsflow/core.md
  examples/nbs/01-ImageClassification.ipynb
  examples/nbs/02-TextClassification.ipynb
  examples/nbs/03-TextSummarization.ipynb
  gradsflow/__init__.py
  gradsflow/autoclassifier/__init__.py
  gradsflow/automodel/__init__.py
  gradsflow/autotasks/__init__.py
  gradsflow/autotasks/autoclassification/__init__.py
  gradsflow/autotasks/autoclassification/image.py
  gradsflow/autotasks/autoclassification/text.py
  gradsflow/autotasks/autosummarization.py
  gradsflow/core/__init__.py
  gradsflow/core/autoclassifier.py
  gradsflow/core/automodel.py
  mkdocs.yml
  pyproject.toml
  tests/core/__init__.py
  tests/core/test_autoclassifier.py
  tests/core/test_automodel.py
  tests/tasks/__init__.py
  tests/tasks/test_image.py
  tests/tasks/test_summarization.py
  tests/tasks/test_text.py
Labels: documentation, enhancement, test, example, API design

#36 migrate to ray_tune
  .github/workflows/latest-changes.yml.off
  README.md
  docs/CHANGELOG.md
  docs/index.md
  docs/overrides/main.html
  docs/requirements.txt
  examples/nbs/01-ImageClassification.ipynb
  examples/src/tasks/image_classifier.py
  gradsflow/autotasks/autoclassification/image.py
  gradsflow/autotasks/autoclassification/text.py
  gradsflow/autotasks/autosummarization.py
  gradsflow/core/autoclassifier.py
  gradsflow/core/automodel.py
  gradsflow/visualization/__init__.py
  mkdocs.yml
  pyproject.toml
  tests/__main__.py
  tests/core/test_automodel.py
  tests/tasks/test_image.py
  tests/tasks/test_summarization.py
  tests/tasks/test_text.py
Labels: documentation, enhancement, test, example, API design

#38 enable jupyter rendering
  README.md
  docs/CHANGELOG.md
  docs/examples
  docs/index.md
  docs/overrides/main.html
  docs/requirements.txt
  gradsflow/__init__.py
  mkdocs.yml
Labels: documentation

#39 Bugfix/remove optuna
  gradsflow/__init__.py
  gradsflow/utility/optuna.py
  tests/utility/optuna/__init__.py
  tests/utility/optuna/test_optuna.py
Labels: test

#40 ✅ test automodel
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labeler.yml
  .github/pull_request_template.md
  gradsflow/core/autoclassifier.py
  gradsflow/core/automodel.py
  pyproject.toml
  tests/core/test_automodel.py
Labels: test

#42 Publish Python 🐍 distributions 📦 to PyPI and TestPyPI
  .github/workflows/publish-to-test-pypi.yml
  .readthedocs.yaml
  docs/overrides/main.html
  pyproject.toml
Labels: documentation, ci

#44 🚀 feature/fix train arguments docs
  gradsflow/autotasks/autoclassification/image.py
  gradsflow/autotasks/autoclassification/text.py
  gradsflow/autotasks/autosummarization.py
  gradsflow/core/automodel.py
  tests/core/test_automodel.py
Labels: test
