Repository gradsflow/gradsflow, pull requests merged in 2021-09, with the labels that each got.

#54 Adding Autotask feature
  gradsflow/autotasks/__init__.py
  gradsflow/autotasks/autotasks.py
  tests/tasks/test_auto.py
Labels: enhancement, test

#53 ✨add AutoTrainer to support plain torch training loop and other torch frameworks
  .pre-commit-config.yaml
  docs/CHANGELOG.md
  examples/nbs/01-ImageClassification.ipynb
  examples/nbs/02-TextClassification.ipynb
  examples/nbs/03-TextSummarization.ipynb
  gradsflow/autotasks/__init__.py
  gradsflow/autotasks/autoclassification/image.py
  gradsflow/autotasks/autoclassification/text.py
  gradsflow/autotasks/autosummarization.py
  gradsflow/autotasks/autotasks.py
  gradsflow/core/autoclassifier.py
  gradsflow/core/automodel.py
  gradsflow/core/autotrainer.py
  gradsflow/core/base.py
  tests/core/test_automodel.py
  tests/core/test_autotrainer.py
  tests/tasks/test_autotasks.py
  tests/tasks/test_image.py
  tests/tasks/test_summarization.py
  tests/tasks/test_text.py
Labels: documentation, enhancement, test, example

#58 update API references
  docs/gradsflow/autotasks.md
  docs/gradsflow/core.md
  docs/gradsflow/utility.md
  mkdocs.yml
Labels: documentation, ci

#59 ✅ add AutoDataset
  README.md
  docs/CHANGELOG.md
  docs/index.md
  gradsflow/autotasks/autoclassification/image.py
  gradsflow/autotasks/autoclassification/text.py
  gradsflow/autotasks/autosummarization.py
  gradsflow/autotasks/autotasks.py
  gradsflow/core/autoclassifier.py
  gradsflow/core/autodata.py
  gradsflow/core/automodel.py
  tests/core/__init__.py
  tests/core/test_autodata.py
Labels: documentation, enhancement, test

#63 add custom training loop with `model.fit`
  docs/CHANGELOG.md
  docs/gradsflow/core.md
  docs/gradsflow/model.md
  examples/nbs/01-ImageClassification.ipynb
  examples/nbs/04-RayDataset.ipynb
  gradsflow/__init__.py
  gradsflow/core/autoclassifier.py
  gradsflow/core/automodel.py
  gradsflow/core/backend.py
  gradsflow/core/base.py
  gradsflow/core/callbacks.py
  gradsflow/core/data.py
  gradsflow/core/model.py
  gradsflow/data/image.py
  gradsflow/data/ray_dataset.py
  gradsflow/tasks/autoclassification/image.py
  gradsflow/tasks/autoclassification/text.py
  gradsflow/tasks/autosummarization.py
  mkdocs.yml
  pyproject.toml
  tests/core/test_autodata.py
  tests/core/test_automodel.py
  tests/core/test_autotrainer.py
  tests/tasks/test_autotasks.py
  tests/tasks/test_image.py
Labels: documentation, enhancement, test, example, ci

#65 simplify loop
  .pre-commit-config.yaml
  docs/requirements.txt
  examples/nbs/05-model_fit.ipynb
  gradsflow/core/automodel.py
  gradsflow/core/backend.py
  gradsflow/core/callbacks.py
  gradsflow/core/model.py
  mkdocs.yml
  pyproject.toml
  tests/__init__.py
  tests/tasks/test_autotasks.py
  tests/tasks/test_image.py
  tests/tasks/test_summarization.py
  tests/tasks/test_text.py
Labels: documentation, test, example, ci

#66 add model.fit test
  .github/FUNDING.yml
  tests/core/test_model.py
  tests/tasks/test_autotasks.py
  tests/tasks/test_image.py
  tests/tasks/test_summarization.py
  tests/tasks/test_text.py
Labels: test, ci

#68 🚀 refactor training loop
  README.md
  docs/index.md
  docs/requirements.txt
  examples/nbs/01-ImageClassification.ipynb
  examples/nbs/05-model_fit.ipynb
  gradsflow/__init__.py
  gradsflow/core/automodel.py
  gradsflow/core/backend.py
  gradsflow/core/base.py
  gradsflow/core/callbacks.py
  gradsflow/core/data.py
  gradsflow/model/base.py
  gradsflow/model/model.py
  gradsflow/model/tracker.py
  gradsflow/tasks/autotasks.py
  pyproject.toml
  tests/__main__.py
  tests/core/test_automodel.py
  tests/core/test_autotrainer.py
  tests/model/test_model.py
  tests/tasks/test_autotasks.py
  tests/tasks/test_image.py
Labels: documentation, test, example

#69 Bugfix/data device
  README.md
  docs/404.md
  docs/index.md
  gradsflow/model/base.py
  gradsflow/model/model.py
Labels: bug, documentation

#71 🤗 integrate HF Accelerator
  docs/gradsflow/model.md
  docs/gradsflow/models.md
  docs/requirements.txt
  gradsflow/__init__.py
  gradsflow/models/__init__.py
  gradsflow/models/base.py
  gradsflow/models/model.py
  gradsflow/models/tracker.py
  gradsflow/tasks/autoclassification/image.py
  mkdocs.yml
  pyproject.toml
  tests/models/__init__.py
  tests/models/test_model.py
  tests/tasks/test_autotasks.py
  tests/tasks/test_image.py
Labels: documentation, enhancement, test, ci

#75 🧪add tests
  README.md
  docs/index.md
  examples/nbs/06-AutoModel_fit.ipynb
  gradsflow/data/image.py
  gradsflow/models/model.py
  gradsflow/tuner/automodel.py
  mkdocs.yml
  tests/data/test_image.py
  tests/tuner/test_automodel.py
  tests/tuner/test_tuner.py
Labels: documentation, test, example, ci
