Repository gradsflow/gradsflow, pull requests merged in 2021-12, with the labels that each got.

#134 minor fixes
  docs/requirements.txt
  gradsflow/__init__.py
  gradsflow/callbacks/raytune.py
  gradsflow/tasks/autotasks.py
  gradsflow/utility/imports.py
  pyproject.toml
Labels: documentation

#137 cleanup APIs
  docs/gradsflow/core.md
  docs/gradsflow/models/utils.md
  gradsflow/callbacks/__init__.py
  gradsflow/callbacks/export.py
  gradsflow/callbacks/gpu.py
  gradsflow/callbacks/logger/comet.py
  gradsflow/callbacks/logger/logger.py
  gradsflow/callbacks/progress.py
  gradsflow/callbacks/raytune.py
  gradsflow/callbacks/runner.py
  gradsflow/callbacks/training.py
  gradsflow/core/__init__.py
  gradsflow/core/base.py
  gradsflow/core/callbacks.py
  gradsflow/data/autodata.py
  gradsflow/data/base.py
  gradsflow/data/image.py
  gradsflow/models/model.py
  gradsflow/models/tracker.py
  gradsflow/models/utils.py
  gradsflow/utility/common.py
  mkdocs.yml
  tests/callbacks/test_runner.py
  tests/data/test_image_data.py
  tests/utility/test_common.py
Labels: documentation, test, ci

#139 remove dependencies
  examples/src/models/hello_world.py
  tests/callbacks/test_logger.py
  tests/models/test_model.py
Labels: test, example

#144 added conda installation instruction
  README.md
  docs/index.md
Labels: documentation

#146 refactor backend
  gradsflow/autotasks/autoclassification/image.py
  gradsflow/autotasks/autoclassification/text/text.py
  gradsflow/autotasks/engine/automodel.py
  gradsflow/autotasks/engine/backend.py
  tests/autotasks/test_autotrainer.py
  tests/autotasks/test_core_automodel.py
Labels: test, API design

#148 Remove flit
  .github/pull_request_template.md
  .github/workflows/main.yml
  .github/workflows/publish-to-pypi.yml
  MANIFEST.in
  Makefile
  pyproject.toml
  setup.cfg
  setup.py
Labels: ci

#147 add model.save test
  gradsflow/callbacks/raytune.py
  gradsflow/models/base.py
  tests/conftest.py
  tests/models/test_model.py
Labels: test

#149 Update main.yml
  .github/workflows/main.yml
Labels: ci
